{
  "extends": ["@antfu", "@unocss"],
  "rules": {
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "vue/component-tags-order": "off",
    "no-console": "off",
    "new-cap": "off"
  }
}
