---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <slot />
  <div class="back-wrap">
    <div class="back">cd ..</div>
  </div>
  <!-- <a href="" class="back-to-top">
    <svg width="1em" height="1em" viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M17.51 3.87L15.73 2.1L5.84 12l9.9 9.9l1.77-1.77L9.38 12l8.13-8.13z"
      ></path>
    </svg>
  </a> -->
</BaseLayout>
<script>
  document.getElementsByClassName('back')[0] &&
    document.getElementsByClassName('back')[0].addEventListener('click', () => {
      history.back()
    })
</script>

<style lang="scss">
  .back-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .back {
      width: 60px;
      height: 30px;
      margin-bottom: 50px;
      margin-top: 30px;
      cursor: pointer;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
  .back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 40px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgb(50 50 50 / 4%);
    background-color: rgba(var(--c-text));
    cursor: pointer;
    color: var(--c-text);
    svg {
      opacity: 0.8;
      transform: rotate(90deg);
    }
  }
</style>
